In [383]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
eda_df = pd.read_csv('./in-data/loan.csv', encoding = "ISO-8859-1")

/home/panks/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [384]:
# Load the data dictionary
dict_df = pd.read_excel('./in-data/Data_Dictionary.xlsx')

In [385]:
dict_df.shape

(117, 2)

In [386]:
eda_df.shape

(39717, 111)

In [387]:
#save initial column list
init_col_list = list(eda_df.columns)

In [388]:
#Columns could have some whitespace, let's get rid of those
eda_df.columns = eda_df.columns.map(lambda x: x.strip())

In [389]:
# Find columns that are totally empty or have 100% NaN values
emptycol_list = []
for i in eda_df.columns:
    if eda_df[i].isnull().all() == True:
        emptycol_list.append(i)
print("Empty columns are: ", emptycol_list)
print("Total empty columns are:", len(emptycol_list))

Empty columns are:  ['mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']
Total empty columns are: 54

In [390]:
eda_df['mths_since_last_major_derog'].isnull().sum()

39717

In [391]:
#Another way to find columns with 100% NaN values
emptycol_list2 = []
for i in eda_df.columns:
    if eda_df[i].isnull().sum() == 39717:
        emptycol_list2.append(i)
print("Empty columns are: ", emptycol_list2)
print("Total empty columns are:", len(emptycol_list2))

Empty columns are:  ['mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']
Total empty columns are: 54

In [392]:
# Let's drop all columns having all NaNs
eda_df = eda_df.dropna(axis=1,how='all')
eda_df.shape

(39717, 57)

In [393]:
list(eda_df.columns.sort_values())

['acc_now_delinq',
 'addr_state',
 'annual_inc',
 'application_type',
 'chargeoff_within_12_mths',
 'collection_recovery_fee',
 'collections_12_mths_ex_med',
 'delinq_2yrs',
 'delinq_amnt',
 'desc',
 'dti',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'funded_amnt',
 'funded_amnt_inv',
 'grade',
 'home_ownership',
 'id',
 'initial_list_status',
 'inq_last_6mths',
 'installment',
 'int_rate',
 'issue_d',
 'last_credit_pull_d',
 'last_pymnt_amnt',
 'last_pymnt_d',
 'loan_amnt',
 'loan_status',
 'member_id',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'next_pymnt_d',
 'open_acc',
 'out_prncp',
 'out_prncp_inv',
 'policy_code',
 'pub_rec',
 'pub_rec_bankruptcies',
 'purpose',
 'pymnt_plan',
 'recoveries',
 'revol_bal',
 'revol_util',
 'sub_grade',
 'tax_liens',
 'term',
 'title',
 'total_acc',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_int',
 'total_rec_late_fee',
 'total_rec_prncp',
 'url',
 'verification_status',
 'zip_code']

In [394]:
eda_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [395]:
# All values in URL seem very similar, let's check it
eda_df['url'].apply(lambda x: x.split('=')[-1])

0        1077501
1        1077430
2        1077175
3        1076863
4        1075358
5        1075269
6        1069639
7        1072053
8        1071795
9        1071570
10       1070078
11       1069908
12       1064687
13       1069866
14       1069057
15       1069759
16       1065775
17       1069971
18       1062474
19       1069742
20       1069740
21       1039153
22       1069710
23       1069700
24       1069559
25       1069697
26       1069800
27       1069657
28       1069799
29       1047704
          ...
39687     111307
39688     111227
39689     109355
39690     107136
39691     106360
39692      76597
39693     106079
39694      90966
39695      92440
39696     102376
39697     101579
39698      98982
39699      98339
39700      98276
39701      96844
39702      96350
39703      94838
39704      93277
39705      93061
39706      92676
39707      92666
39708      92552
39709      92533
39710      92507
39711      92402
39712      92187
39713      90665
39714      90395
39715      90376
39716      87023
Name: url, Length: 39717, dtype: object

In [396]:
# Looks like url has 'id' related entries
eda_df['url_fp'] = eda_df['url'].apply(lambda x: x.split('=')[:-1])
eda_df['url_id'] = eda_df['url'].apply(lambda x: x.split('=')[-1])

In [397]:
eda_df['url_fp'] = eda_df['url_fp'].astype(str)
eda_df['url_id'] = eda_df['url_id'].astype(int)
eda_df['id'] = eda_df['id'].astype(int)

In [398]:
eda_df.url_fp.unique()

array(["['https://lendingclub.com/browse/loanDetail.action?loan_id']"],
      dtype=object)

In [399]:
eda_df['id'].equals(eda_df['url_id'])

True

In [400]:
# Since the first part (delimited by '=') of 'url' field is identical across entire column
# And second part is exactly resembling 'id' field, So we can drop URL column and all temporary columns created so far
eda_df.drop(['url', 'url_id', 'url_fp'], axis = 1, inplace = True)

In [401]:
# Let's see which of the columns have only one unique value in entire series.
# And let's drop those
for i in eda_df.columns:
    if len(eda_df[i].unique()) == 1:
        print(i , eda_df[i].value_counts())
        eda_df.drop(i, axis = 1, inplace=True)

pymnt_plan n    39717
Name: pymnt_plan, dtype: int64
initial_list_status f    39717
Name: initial_list_status, dtype: int64
policy_code 1    39717
Name: policy_code, dtype: int64
application_type INDIVIDUAL    39717
Name: application_type, dtype: int64
acc_now_delinq 0    39717
Name: acc_now_delinq, dtype: int64
delinq_amnt 0    39717
Name: delinq_amnt, dtype: int64

In [402]:
eda_df.shape

(39717, 50)

In [403]:
# Let's see which of the columns have only 2 unique entries: a NaN and someother value
for i in eda_df.columns:
    if len(eda_df[i].unique()) == 2:
        print(i , eda_df[i].value_counts())

term  36 months    29096
 60 months    10621
Name: term, dtype: int64
collections_12_mths_ex_med 0.0    39661
Name: collections_12_mths_ex_med, dtype: int64
chargeoff_within_12_mths 0.0    39661
Name: chargeoff_within_12_mths, dtype: int64
tax_liens 0.0    39678
Name: tax_liens, dtype: int64

# 'term' cannot be dropped. Let's further analyse others since there are 2 terms: 36 months and 60 months

In [404]:
eda_df['collections_12_mths_ex_med'].unique()

array([ 0., nan])

In [405]:
eda_df['chargeoff_within_12_mths'].unique()

array([ 0., nan])

In [406]:
eda_df['tax_liens'].unique()

array([ 0., nan])

In [407]:
# Since the above three have no other values apart from NaN and 0., so we can drop all these columns
eda_df.drop(['collections_12_mths_ex_med', 'chargeoff_within_12_mths', 'tax_liens'], axis = 1, inplace = True)

In [408]:
# Let's now see which of the columns have high volumn of NULLs
eda_df.isnull().sum()

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
emp_title                   2459
emp_length                  1075
home_ownership                 0
annual_inc                     0
verification_status            0
issue_d                        0
loan_status                    0
desc                       12940
purpose                        0
title                         11
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                    0
earliest_cr_line               0
inq_last_6mths                 0
mths_since_last_delinq     25682
mths_since_last_record     36931
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                    50
total_acc                      0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_d                  71
last_pymnt_amnt                0
next_pymnt_d               38577
last_credit_pull_d             2
pub_rec_bankruptcies         697
dtype: int64

In [409]:
#Let's drop columns having high null values
eda_df.drop(['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d'], axis = 1, inplace = True)

In [410]:
list(eda_df.columns.sort_values())

['addr_state',
 'annual_inc',
 'collection_recovery_fee',
 'delinq_2yrs',
 'desc',
 'dti',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'funded_amnt',
 'funded_amnt_inv',
 'grade',
 'home_ownership',
 'id',
 'inq_last_6mths',
 'installment',
 'int_rate',
 'issue_d',
 'last_credit_pull_d',
 'last_pymnt_amnt',
 'last_pymnt_d',
 'loan_amnt',
 'loan_status',
 'member_id',
 'open_acc',
 'out_prncp',
 'out_prncp_inv',
 'pub_rec',
 'pub_rec_bankruptcies',
 'purpose',
 'recoveries',
 'revol_bal',
 'revol_util',
 'sub_grade',
 'term',
 'title',
 'total_acc',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_int',
 'total_rec_late_fee',
 'total_rec_prncp',
 'verification_status',
 'zip_code']

In [411]:
eda_df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.00000,36 months,10.65%,162.87,B,B2,...,5833.84,5000.00,863.16,0.00,0.00,0.0000,Jan-15,171.62,May-16,0.0
1,1077430,1314167,2500,2500,2500.00000,60 months,15.27%,59.83,C,C4,...,1008.71,456.46,435.17,0.00,117.08,1.1100,Apr-13,119.66,Sep-13,0.0
2,1077175,1313524,2400,2400,2400.00000,36 months,15.96%,84.33,C,C5,...,3005.67,2400.00,605.67,0.00,0.00,0.0000,Jun-14,649.91,May-16,0.0
3,1076863,1277178,10000,10000,10000.00000,36 months,13.49%,339.31,C,C1,...,12231.89,10000.00,2214.92,16.97,0.00,0.0000,Jan-15,357.48,Apr-16,0.0
4,1075358,1311748,3000,3000,3000.00000,60 months,12.69%,67.79,B,B5,...,3513.33,2475.94,1037.39,0.00,0.00,0.0000,May-16,67.79,May-16,0.0
5,1075269,1311441,5000,5000,5000.00000,36 months,7.90%,156.46,A,A4,...,5632.21,5000.00,632.21,0.00,0.00,0.0000,Jan-15,161.03,Jan-16,0.0
6,1069639,1304742,7000,7000,7000.00000,60 months,15.96%,170.08,C,C5,...,10110.84,6985.61,3125.23,0.00,0.00,0.0000,May-16,1313.76,May-16,0.0
7,1072053,1288686,3000,3000,3000.00000,36 months,18.64%,109.43,E,E1,...,3939.14,3000.00,939.14,0.00,0.00,0.0000,Jan-15,111.34,Dec-14,0.0
8,1071795,1306957,5600,5600,5600.00000,60 months,21.28%,152.39,F,F2,...,646.02,162.02,294.94,0.00,189.06,2.0900,Apr-12,152.39,Aug-12,0.0
9,1071570,1306721,5375,5375,5350.00000,60 months,12.69%,121.45,B,B5,...,1469.34,673.48,533.42,0.00,269.29,2.5200,Nov-12,121.45,Mar-13,0.0
10,1070078,1305201,6500,6500,6500.00000,60 months,14.65%,153.45,C,C3,...,7678.02,6500.00,1178.02,0.00,0.00,0.0000,Jun-13,1655.54,Dec-15,0.0
11,1069908,1305008,12000,12000,12000.00000,36 months,12.69%,402.54,B,B5,...,13947.99,12000.00,1947.99,0.00,0.00,0.0000,Sep-13,6315.30,Aug-13,0.0
12,1064687,1298717,9000,9000,9000.00000,36 months,13.49%,305.38,C,C1,...,2270.70,1256.14,570.26,0.00,444.30,4.1600,Jul-12,305.38,Nov-12,0.0
13,1069866,1304956,3000,3000,3000.00000,36 months,9.91%,96.68,B,B1,...,3480.27,3000.00,480.27,0.00,0.00,0.0000,Jan-15,102.43,May-16,0.0
14,1069057,1303503,10000,10000,10000.00000,36 months,10.65%,325.74,B,B2,...,7471.99,5433.47,1393.42,0.00,645.10,6.3145,Oct-13,325.74,Mar-14,0.0
15,1069759,1304871,1000,1000,1000.00000,36 months,16.29%,35.31,D,D1,...,1270.72,1000.00,270.72,0.00,0.00,0.0000,Jan-15,36.32,May-16,0.0
16,1065775,1299699,10000,10000,10000.00000,36 months,15.27%,347.98,C,C4,...,12527.15,10000.00,2527.15,0.00,0.00,0.0000,Jan-15,370.46,Apr-15,0.0
17,1069971,1304884,3600,3600,3600.00000,36 months,6.03%,109.57,A,A1,...,3785.27,3600.00,185.27,0.00,0.00,0.0000,May-13,583.45,May-14,0.0
18,1062474,1294539,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,...,7167.07,6000.00,1152.07,15.00,0.00,0.0000,Feb-15,16.98,Jul-15,0.0
19,1069742,1304855,9200,9200,9200.00000,36 months,6.03%,280.01,A,A1,...,9460.00,9200.00,260.00,0.00,0.00,0.0000,Jul-12,8061.10,Feb-16,0.0
20,1069740,1284848,20250,20250,19142.16108,60 months,15.27%,484.63,C,C4,...,25433.60,20250.00,7429.05,0.00,0.00,0.0000,Aug-15,6024.09,Mar-16,0.0
21,1039153,1269083,21000,21000,21000.00000,36 months,12.42%,701.73,B,B4,...,14025.40,10694.96,3330.44,0.00,0.00,0.0000,Sep-13,701.73,May-16,0.0
22,1069710,1304821,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,11907.35,10000.00,1907.35,0.00,0.00,0.0000,Jan-15,349.21,May-16,0.0
23,1069700,1304810,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,11540.89,10000.00,1540.89,0.00,0.00,0.0000,Oct-13,4942.63,Mar-14,0.0
24,1069559,1304634,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,...,2050.14,1305.58,475.25,0.00,269.31,2.5700,Oct-12,198.46,Mar-13,0.0
25,1069697,1273773,15000,15000,15000.00000,36 months,9.91%,483.38,B,B1,...,15824.00,15000.00,824.00,0.00,0.00,0.0000,Sep-12,2447.05,Sep-12,0.0
26,1069800,1304679,15000,15000,8725.00000,36 months,14.27%,514.64,C,C2,...,0.00,0.00,0.00,0.00,0.00,0.0000,NaN,0.00,May-16,0.0
27,1069657,1304764,5000,5000,5000.00000,60 months,16.77%,123.65,D,D2,...,1609.12,629.05,719.11,0.00,260.96,2.3000,Dec-12,123.65,May-13,0.0
28,1069799,1304678,4000,4000,4000.00000,36 months,11.71%,132.31,B,B3,...,4486.29,4000.00,486.29,0.00,0.00,0.0000,Apr-13,2638.77,May-16,0.0
29,1047704,1278806,8500,8500,8500.00000,36 months,11.71%,281.15,B,B3,...,10126.09,8500.00,1626.09,0.00,0.00,0.0000,Dec-14,581.59,Jan-15,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39687,111307,105982,12000,12000,2500.00000,36 months,12.49%,401.37,D,D3,...,3010.27,12000.00,2449.29,0.00,0.00,0.0000,Jul-10,402.93,Jul-10,NaN
39688,111227,111223,20000,20000,2800.00000,36 months,13.43%,678.08,E,E1,...,2845.82,16077.42,4262.24,0.00,0.00,0.0000,Feb-10,678.08,May-16,NaN
39689,109355,109346,1200,1200,0.00000,36 months,11.54%,39.60,C,C5,...,0.00,1200.00,225.37,0.00,0.00,0.0000,Jul-10,39.45,Jul-10,NaN
39690,107136,107130,12250,12250,1525.00000,36 months,10.59%,398.69,C,C2,...,1634.41,12250.00,878.88,0.00,0.00,0.0000,Apr-08,9939.88,Jul-07,NaN
39691,106360,106333,2700,2700,550.00000,36 months,15.96%,94.88,F,F4,...,695.73,2700.00,715.39,0.00,0.00,0.0000,Jul-10,96.40,Jul-10,NaN
39692,76597,76583,5000,5000,1775.00000,36 months,9.01%,159.03,B,B2,...,2032.38,5000.00,725.02,0.00,0.00,0.0000,Jul-10,160.61,Jul-10,NaN
39693,106079,106039,3500,3500,1200.00000,36 months,9.96%,112.87,B,B5,...,1351.55,3500.00,442.01,0.00,0.00,0.0000,Mar-09,1798.54,May-16,NaN
39694,90966,90962,5000,5000,4150.00000,36 months,7.43%,155.38,A,A2,...,4294.58,5000.00,174.19,0.00,0.00,0.0000,Jan-08,4397.47,Jun-07,NaN
39695,92440,92423,5000,5000,3100.00000,36 months,7.43%,155.38,A,A2,...,3468.05,5000.00,593.63,0.00,0.00,0.0000,Jul-10,157.38,Jun-07,NaN
39696,102376,95212,25000,25000,525.00000,36 months,10.59%,813.65,C,C2,...,614.67,25000.00,4269.96,0.00,0.00,0.0000,Jun-10,3.54,Jun-10,NaN
39697,101579,100083,10000,10000,400.00000,36 months,10.28%,323.98,C,C1,...,466.52,10000.00,1662.89,0.00,0.00,0.0000,Jul-10,328.93,Oct-10,NaN
39698,98982,98957,5000,5000,675.00000,36 months,9.01%,159.03,B,B2,...,772.88,5000.00,725.02,0.00,0.00,0.0000,Jul-10,160.02,Jul-10,NaN
39699,98339,97572,5100,5100,575.00000,36 months,8.38%,160.72,A,A5,...,651.56,5100.00,679.03,0.00,0.00,0.0000,Apr-10,638.15,Jun-07,NaN
39700,98276,98268,5400,5400,200.00000,36 months,7.75%,168.60,A,A3,...,224.80,5400.00,669.34,0.00,0.00,0.0000,Jul-10,169.09,Dec-13,NaN
39701,96844,95222,5300,5300,600.00000,36 months,8.38%,167.02,A,A5,...,680.67,5300.00,712.56,0.00,0.00,0.0000,Jul-10,170.05,Jul-10,NaN
39702,96350,96338,5000,5000,850.00000,36 months,11.22%,164.23,C,C4,...,1005.05,5000.00,912.05,0.00,0.00,0.0000,Jul-10,166.25,Oct-12,NaN
39703,94838,73673,3000,3000,2550.00000,36 months,10.28%,97.20,C,C1,...,2974.03,3000.00,498.86,0.00,0.00,0.0000,Jul-10,98.49,Feb-13,NaN
39704,93277,93254,3000,3000,950.00000,36 months,8.70%,94.98,B,B1,...,1082.73,3000.00,419.14,0.00,0.00,0.0000,Jul-10,97.45,Jul-10,NaN
39705,93061,93057,5000,5000,250.00000,36 months,7.43%,155.38,A,A2,...,279.69,5000.00,593.63,0.00,0.00,0.0000,Jul-10,157.02,Jun-10,NaN
39706,92676,92671,5000,5000,150.00000,36 months,8.07%,156.84,A,A4,...,169.38,5000.00,645.96,0.00,0.00,0.0000,Jul-10,157.31,Jun-07,NaN
39707,92666,92661,5000,5000,525.00000,36 months,9.33%,159.77,B,B3,...,603.91,5000.00,751.53,0.00,0.00,0.0000,Jul-10,161.55,Jun-07,NaN
39708,92552,92542,5000,5000,375.00000,36 months,9.96%,161.25,B,B5,...,435.36,5000.00,804.73,0.00,0.00,0.0000,Jul-10,162.07,Jun-10,NaN
39709,92533,92529,5000,5000,675.00000,36 months,11.22%,164.23,C,C4,...,798.13,5000.00,912.05,0.00,0.00,0.0000,Jul-10,165.17,Jun-07,NaN
39710,92507,92502,5000,5000,250.00000,36 months,7.43%,155.38,A,A2,...,279.68,5000.00,593.63,0.00,0.00,0.0000,Jul-10,156.29,Jun-07,NaN
39711,92402,92390,5000,5000,700.00000,36 months,8.70%,158.30,B,B1,...,797.80,5000.00,698.60,0.00,0.00,0.0000,Jul-10,159.83,Nov-14,NaN
39712,92187,92174,2500,2500,1075.00000,36 months,8.07%,78.42,A,A4,...,1213.88,2500.00,322.97,0.00,0.00,0.0000,Jul-10,80.90,Jun-10,NaN
39713,90665,90607,8500,8500,875.00000,36 months,10.28%,275.38,C,C1,...,1020.51,8500.00,1413.49,0.00,0.00,0.0000,Jul-10,281.94,Jul-10,NaN
39714,90395,90390,5000,5000,1325.00000,36 months,8.07%,156.84,A,A4,...,1397.12,5000.00,272.16,0.00,0.00,0.0000,Apr-08,0.00,Jun-07,NaN
39715,90376,89243,5000,5000,650.00000,36 months,7.43%,155.38,A,A2,...,672.66,5000.00,174.20,0.00,0.00,0.0000,Jan-08,0.00,Jun-07,NaN
39716,87023,86999,7500,7500,800.00000,36 months,13.75%,255.43,E,E2,...,980.83,7500.00,1695.26,0.00,0.00,0.0000,Jun-10,256.59,Jun-10,NaN

In [412]:
# The columns 'id' and 'member_id' seem to have some key values
# let's see if we need a composite of these or anyone would suffice
len(eda_df['id'].unique())

39717

In [413]:
len(eda_df['member_id'].unique())

39717

In [414]:
# The columns 'id' and 'member_id' seem to be unique individually and any one of them can be used as a key
eda_df.drop(['member_id'], axis = 1, inplace = True)

In [415]:
eda_df.shape

(39717, 43)

In [416]:
#Columns 'funded_amnt and funded_amnt_inv seem to be highly correlated. Let's check that
eda_df['funded_amnt'].corr(eda_df['funded_amnt_inv'])

0.9584219767408849

In [417]:
# Since the correlation is high, Let's drop funded_amnt_inv'
eda_df.drop(['funded_amnt_inv'], axis = 1, inplace = True)

In [418]:
# Similarly we can drop other investor related numbers: out_prncp_inv and total_pymnt_inv
eda_df.drop(['out_prncp_inv', 'total_pymnt_inv'], axis = 1, inplace = True)

In [419]:
#Columns 'funded_amnt and 'installment' also seem to be highly correlated. Let's check that
eda_df['funded_amnt'].corr(eda_df['installment'])

0.9561594973556864

In [420]:
# Since the correlation is high, Let's drop funded_amnt_inv'
eda_df.drop(['installment'], axis = 1, inplace = True)

In [421]:
#Columns 'collections' and 'collection_recovery_fee' also seem to be highly correlated. Let's check that
eda_df['recoveries'].corr(eda_df['collection_recovery_fee'])

0.7968162787436539

In [422]:
# There seems to be a significant correlation between recoveries and collection_recovery_fee
# And both of them seem to compliment each other. Let's drop one of them
eda_df.drop(['collection_recovery_fee'], axis = 1, inplace = True)

In [423]:
eda_df

,id,loan_amnt,funded_amnt,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,...,out_prncp,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,5000,5000,36 months,10.65%,B,B2,NaN,10+ years,RENT,...,0.00,5863.155187,5000.00,863.16,0.00,0.00,Jan-15,171.62,May-16,0.0
1,1077430,2500,2500,60 months,15.27%,C,C4,Ryder,< 1 year,RENT,...,0.00,1008.710000,456.46,435.17,0.00,117.08,Apr-13,119.66,Sep-13,0.0
2,1077175,2400,2400,36 months,15.96%,C,C5,NaN,10+ years,RENT,...,0.00,3005.666844,2400.00,605.67,0.00,0.00,Jun-14,649.91,May-16,0.0
3,1076863,10000,10000,36 months,13.49%,C,C1,AIR RESOURCES BOARD,10+ years,RENT,...,0.00,12231.890000,10000.00,2214.92,16.97,0.00,Jan-15,357.48,Apr-16,0.0
4,1075358,3000,3000,60 months,12.69%,B,B5,University Medical Group,1 year,RENT,...,524.06,3513.330000,2475.94,1037.39,0.00,0.00,May-16,67.79,May-16,0.0
5,1075269,5000,5000,36 months,7.90%,A,A4,Veolia Transportaton,3 years,RENT,...,0.00,5632.210000,5000.00,632.21,0.00,0.00,Jan-15,161.03,Jan-16,0.0
6,1069639,7000,7000,60 months,15.96%,C,C5,Southern Star Photography,8 years,RENT,...,0.00,10110.840000,6985.61,3125.23,0.00,0.00,May-16,1313.76,May-16,0.0
7,1072053,3000,3000,36 months,18.64%,E,E1,MKC Accounting,9 years,RENT,...,0.00,3939.135294,3000.00,939.14,0.00,0.00,Jan-15,111.34,Dec-14,0.0
8,1071795,5600,5600,60 months,21.28%,F,F2,NaN,4 years,OWN,...,0.00,646.020000,162.02,294.94,0.00,189.06,Apr-12,152.39,Aug-12,0.0
9,1071570,5375,5375,60 months,12.69%,B,B5,Starbucks,< 1 year,RENT,...,0.00,1476.190000,673.48,533.42,0.00,269.29,Nov-12,121.45,Mar-13,0.0
10,1070078,6500,6500,60 months,14.65%,C,C3,Southwest Rural metro,5 years,OWN,...,0.00,7678.017673,6500.00,1178.02,0.00,0.00,Jun-13,1655.54,Dec-15,0.0
11,1069908,12000,12000,36 months,12.69%,B,B5,UCLA,10+ years,OWN,...,0.00,13947.989160,12000.00,1947.99,0.00,0.00,Sep-13,6315.30,Aug-13,0.0
12,1064687,9000,9000,36 months,13.49%,C,C1,Va. Dept of Conservation/Recreation,< 1 year,RENT,...,0.00,2270.700000,1256.14,570.26,0.00,444.30,Jul-12,305.38,Nov-12,0.0
13,1069866,3000,3000,36 months,9.91%,B,B1,Target,3 years,RENT,...,0.00,3480.269999,3000.00,480.27,0.00,0.00,Jan-15,102.43,May-16,0.0
14,1069057,10000,10000,36 months,10.65%,B,B2,SFMTA,3 years,RENT,...,0.00,7471.990000,5433.47,1393.42,0.00,645.10,Oct-13,325.74,Mar-14,0.0
15,1069759,1000,1000,36 months,16.29%,D,D1,Internal revenue Service,< 1 year,RENT,...,0.00,1270.716942,1000.00,270.72,0.00,0.00,Jan-15,36.32,May-16,0.0
16,1065775,10000,10000,36 months,15.27%,C,C4,Chin's Restaurant,4 years,RENT,...,0.00,12527.150000,10000.00,2527.15,0.00,0.00,Jan-15,370.46,Apr-15,0.0
17,1069971,3600,3600,36 months,6.03%,A,A1,Duracell,10+ years,MORTGAGE,...,0.00,3785.271965,3600.00,185.27,0.00,0.00,May-13,583.45,May-14,0.0
18,1062474,6000,6000,36 months,11.71%,B,B3,Connection Inspection,1 year,MORTGAGE,...,0.00,7167.072893,6000.00,1152.07,15.00,0.00,Feb-15,16.98,Jul-15,0.0
19,1069742,9200,9200,36 months,6.03%,A,A1,Network Interpreting Service,6 years,RENT,...,0.00,9460.000848,9200.00,260.00,0.00,0.00,Jul-12,8061.10,Feb-16,0.0
20,1069740,20250,20250,60 months,15.27%,C,C4,Archdiocese of Galveston Houston,3 years,RENT,...,0.00,27679.050000,20250.00,7429.05,0.00,0.00,Aug-15,6024.09,Mar-16,0.0
21,1039153,21000,21000,36 months,12.42%,B,B4,Osram Sylvania,10+ years,RENT,...,0.00,14025.400000,10694.96,3330.44,0.00,0.00,Sep-13,701.73,May-16,0.0
22,1069710,10000,10000,36 months,11.71%,B,B3,Value Air,10+ years,OWN,...,0.00,11907.350000,10000.00,1907.35,0.00,0.00,Jan-15,349.21,May-16,0.0
23,1069700,10000,10000,36 months,11.71%,B,B3,Wells Fargo Bank,5 years,RENT,...,0.00,11540.891980,10000.00,1540.89,0.00,0.00,Oct-13,4942.63,Mar-14,0.0
24,1069559,6000,6000,36 months,11.71%,B,B3,bmg-educational,1 year,RENT,...,0.00,2050.140000,1305.58,475.25,0.00,269.31,Oct-12,198.46,Mar-13,0.0
25,1069697,15000,15000,36 months,9.91%,B,B1,Winfield Pathology Consultants,2 years,MORTGAGE,...,0.00,15823.999050,15000.00,824.00,0.00,0.00,Sep-12,2447.05,Sep-12,0.0
26,1069800,15000,15000,36 months,14.27%,C,C2,nyc transit,9 years,RENT,...,0.00,0.000000,0.00,0.00,0.00,0.00,NaN,0.00,May-16,0.0
27,1069657,5000,5000,60 months,16.77%,D,D2,Frito Lay,2 years,RENT,...,0.00,1609.120000,629.05,719.11,0.00,260.96,Dec-12,123.65,May-13,0.0
28,1069799,4000,4000,36 months,11.71%,B,B3,Shands Hospital at the University of Fl,10+ years,MORTGAGE,...,0.00,4486.293519,4000.00,486.29,0.00,0.00,Apr-13,2638.77,May-16,0.0
29,1047704,8500,8500,36 months,11.71%,B,B3,Oakridge homes,< 1 year,RENT,...,0.00,10126.088440,8500.00,1626.09,0.00,0.00,Dec-14,581.59,Jan-15,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39687,111307,12000,12000,36 months,12.49%,D,D3,ISO MERCHANT SERVICES,9 years,OWN,...,0.00,14449.287980,12000.00,2449.29,0.00,0.00,Jul-10,402.93,Jul-10,NaN
39688,111227,20000,20000,36 months,13.43%,E,E1,Auto motors of miami,6 years,MORTGAGE,...,0.00,20339.660000,16077.42,4262.24,0.00,0.00,Feb-10,678.08,May-16,NaN
39689,109355,1200,1200,36 months,11.54%,C,C5,Eastland Park Hotel,< 1 year,RENT,...,0.00,1425.370000,1200.00,225.37,0.00,0.00,Jul-10,39.45,Jul-10,NaN
39690,107136,12250,12250,36 months,10.59%,C,C2,Zensah Company,3 years,RENT,...,0.00,13128.883620,12250.00,878.88,0.00,0.00,Apr-08,9939.88,Jul-07,NaN
39691,106360,2700,2700,36 months,15.96%,F,F4,Turner Construction,1 year,RENT,...,0.00,3415.389823,2700.00,715.39,0.00,0.00,Jul-10,96.40,Jul-10,NaN
39692,76597,5000,5000,36 months,9.01%,B,B2,Ping Interactive,1 year,MORTGAGE,...,0.00,5725.016258,5000.00,725.02,0.00,0.00,Jul-10,160.61,Jul-10,NaN
39693,106079,3500,3500,36 months,9.96%,B,B5,UNIQUE ID WEB DESIGN,< 1 year,RENT,...,0.00,3942.013096,3500.00,442.01,0.00,0.00,Mar-09,1798.54,May-16,NaN
39694,90966,5000,5000,36 months,7.43%,A,A2,Oracle Corporation,8 years,MORTGAGE,...,0.00,5174.186842,5000.00,174.19,0.00,0.00,Jan-08,4397.47,Jun-07,NaN
39695,92440,5000,5000,36 months,7.43%,A,A2,MetraTech Corp,7 years,MORTGAGE,...,0.00,5593.631701,5000.00,593.63,0.00,0.00,Jul-10,157.38,Jun-07,NaN
39696,102376,25000,25000,36 months,10.59%,C,C2,Institute for Mind/Body Research and Education,2 years,RENT,...,0.00,29269.955270,25000.00,4269.96,0.00,0.00,Jun-10,3.54,Jun-10,NaN
39697,101579,10000,10000,36 months,10.28%,C,C1,RoadNarrows Robotics,< 1 year,RENT,...,0.00,11662.892190,10000.00,1662.89,0.00,0.00,Jul-10,328.93,Oct-10,NaN
39698,98982,5000,5000,36 months,9.01%,B,B2,Viget Labs,1 year,RENT,...,0.00,5725.016258,5000.00,725.02,0.00,0.00,Jul-10,160.02,Jul-10,NaN
39699,98339,5100,5100,36 months,8.38%,A,A5,Northwestern School Corporation,4 years,RENT,...,0.00,5779.031624,5100.00,679.03,0.00,0.00,Apr-10,638.15,Jun-07,NaN
39700,98276,5400,5400,36 months,7.75%,A,A3,NaN,< 1 year,RENT,...,0.00,6069.341452,5400.00,669.34,0.00,0.00,Jul-10,169.09,Dec-13,NaN
39701,96844,5300,5300,36 months,8.38%,A,A5,Peerless Pump Company,7 years,MORTGAGE,...,0.00,6012.561053,5300.00,712.56,0.00,0.00,Jul-10,170.05,Jul-10,NaN
39702,96350,5000,5000,36 months,11.22%,C,C4,Self-employed,1 year,OWN,...,0.00,5912.052998,5000.00,912.05,0.00,0.00,Jul-10,166.25,Oct-12,NaN
39703,94838,3000,3000,36 months,10.28%,C,C1,Oracle,2 years,MORTGAGE,...,0.00,3498.858899,3000.00,498.86,0.00,0.00,Jul-10,98.49,Feb-13,NaN
39704,93277,3000,3000,36 months,8.70%,B,B1,NaN,< 1 year,MORTGAGE,...,0.00,3419.144850,3000.00,419.14,0.00,0.00,Jul-10,97.45,Jul-10,NaN
39705,93061,5000,5000,36 months,7.43%,A,A2,MetraTech,8 years,MORTGAGE,...,0.00,5593.631701,5000.00,593.63,0.00,0.00,Jul-10,157.02,Jun-10,NaN
39706,92676,5000,5000,36 months,8.07%,A,A4,NaN,< 1 year,MORTGAGE,...,0.00,5645.957239,5000.00,645.96,0.00,0.00,Jul-10,157.31,Jun-07,NaN
39707,92666,5000,5000,36 months,9.33%,B,B3,Stark and Roth Inc,2 years,MORTGAGE,...,0.00,5751.530533,5000.00,751.53,0.00,0.00,Jul-10,161.55,Jun-07,NaN
39708,92552,5000,5000,36 months,9.96%,B,B5,Millenium Group,4 years,MORTGAGE,...,0.00,5804.732505,5000.00,804.73,0.00,0.00,Jul-10,162.07,Jun-10,NaN
39709,92533,5000,5000,36 months,11.22%,C,C4,Self-Employeed,< 1 year,OWN,...,0.00,5912.052998,5000.00,912.05,0.00,0.00,Jul-10,165.17,Jun-07,NaN
39710,92507,5000,5000,36 months,7.43%,A,A2,Rush Univ Med Grp,1 year,OWN,...,0.00,5593.626092,5000.00,593.63,0.00,0.00,Jul-10,156.29,Jun-07,NaN
39711,92402,5000,5000,36 months,8.70%,B,B1,"A. F. Wolfers, Inc.",5 years,MORTGAGE,...,0.00,5698.603286,5000.00,698.60,0.00,0.00,Jul-10,159.83,Nov-14,NaN
39712,92187,2500,2500,36 months,8.07%,A,A4,FiSite Research,4 years,MORTGAGE,...,0.00,2822.969293,2500.00,322.97,0.00,0.00,Jul-10,80.90,Jun-10,NaN
39713,90665,8500,8500,36 months,10.28%,C,C1,"Squarewave Solutions, Ltd.",3 years,RENT,...,0.00,9913.491822,8500.00,1413.49,0.00,0.00,Jul-10,281.94,Jul-10,NaN
39714,90395,5000,5000,36 months,8.07%,A,A4,NaN,< 1 year,MORTGAGE,...,0.00,5272.161128,5000.00,272.16,0.00,0.00,Apr-08,0.00,Jun-07,NaN
39715,90376,5000,5000,36 months,7.43%,A,A2,NaN,< 1 year,MORTGAGE,...,0.00,5174.198551,5000.00,174.20,0.00,0.00,Jan-08,0.00,Jun-07,NaN
39716,87023,7500,7500,36 months,13.75%,E,E2,Evergreen Center,< 1 year,OWN,...,0.00,9195.263334,7500.00,1695.26,0.00,0.00,Jun-10,256.59,Jun-10,NaN

In [424]:
# For now, we can drop zip_code also because we have address state:
eda_df.drop(['zip_code'], axis = 1, inplace = True)

In [425]:
eda_df['loan_status'].value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [426]:
#Let's see if outstanding balance is non-zero 0 only for 'Current' ones
eda_df.loc[(eda_df['loan_status'] == 'Fully Paid') & (eda_df['out_prncp'] != 0)]

Empty DataFrame
Columns: [id, loan_amnt, funded_amnt, term, int_rate, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, desc, purpose, title, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, out_prncp, total_pymnt, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies]
Index: []

[0 rows x 37 columns]

In [427]:
eda_df.loc[(eda_df['loan_status'] == 'Charged Off') & (eda_df['out_prncp'] != 0)]

Empty DataFrame
Columns: [id, loan_amnt, funded_amnt, term, int_rate, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, desc, purpose, title, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, out_prncp, total_pymnt, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies]
Index: []

[0 rows x 37 columns]

In [428]:
eda_df.loc[(eda_df['loan_status'] == 'Current') & (eda_df['out_prncp'] == 0)]

Empty DataFrame
Columns: [id, loan_amnt, funded_amnt, term, int_rate, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, desc, purpose, title, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, out_prncp, total_pymnt, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies]
Index: []

[0 rows x 37 columns]

In [429]:
# So we can safely remove the column 'out_prncp'
eda_df.drop(['out_prncp'], axis = 1, inplace = True)

In [430]:
eda_df

,id,loan_amnt,funded_amnt,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,...,total_acc,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,5000,5000,36 months,10.65%,B,B2,NaN,10+ years,RENT,...,9,5863.155187,5000.00,863.16,0.00,0.00,Jan-15,171.62,May-16,0.0
1,1077430,2500,2500,60 months,15.27%,C,C4,Ryder,< 1 year,RENT,...,4,1008.710000,456.46,435.17,0.00,117.08,Apr-13,119.66,Sep-13,0.0
2,1077175,2400,2400,36 months,15.96%,C,C5,NaN,10+ years,RENT,...,10,3005.666844,2400.00,605.67,0.00,0.00,Jun-14,649.91,May-16,0.0
3,1076863,10000,10000,36 months,13.49%,C,C1,AIR RESOURCES BOARD,10+ years,RENT,...,37,12231.890000,10000.00,2214.92,16.97,0.00,Jan-15,357.48,Apr-16,0.0
4,1075358,3000,3000,60 months,12.69%,B,B5,University Medical Group,1 year,RENT,...,38,3513.330000,2475.94,1037.39,0.00,0.00,May-16,67.79,May-16,0.0
5,1075269,5000,5000,36 months,7.90%,A,A4,Veolia Transportaton,3 years,RENT,...,12,5632.210000,5000.00,632.21,0.00,0.00,Jan-15,161.03,Jan-16,0.0
6,1069639,7000,7000,60 months,15.96%,C,C5,Southern Star Photography,8 years,RENT,...,11,10110.840000,6985.61,3125.23,0.00,0.00,May-16,1313.76,May-16,0.0
7,1072053,3000,3000,36 months,18.64%,E,E1,MKC Accounting,9 years,RENT,...,4,3939.135294,3000.00,939.14,0.00,0.00,Jan-15,111.34,Dec-14,0.0
8,1071795,5600,5600,60 months,21.28%,F,F2,NaN,4 years,OWN,...,13,646.020000,162.02,294.94,0.00,189.06,Apr-12,152.39,Aug-12,0.0
9,1071570,5375,5375,60 months,12.69%,B,B5,Starbucks,< 1 year,RENT,...,3,1476.190000,673.48,533.42,0.00,269.29,Nov-12,121.45,Mar-13,0.0
10,1070078,6500,6500,60 months,14.65%,C,C3,Southwest Rural metro,5 years,OWN,...,23,7678.017673,6500.00,1178.02,0.00,0.00,Jun-13,1655.54,Dec-15,0.0
11,1069908,12000,12000,36 months,12.69%,B,B5,UCLA,10+ years,OWN,...,34,13947.989160,12000.00,1947.99,0.00,0.00,Sep-13,6315.30,Aug-13,0.0
12,1064687,9000,9000,36 months,13.49%,C,C1,Va. Dept of Conservation/Recreation,< 1 year,RENT,...,9,2270.700000,1256.14,570.26,0.00,444.30,Jul-12,305.38,Nov-12,0.0
13,1069866,3000,3000,36 months,9.91%,B,B1,Target,3 years,RENT,...,11,3480.269999,3000.00,480.27,0.00,0.00,Jan-15,102.43,May-16,0.0
14,1069057,10000,10000,36 months,10.65%,B,B2,SFMTA,3 years,RENT,...,29,7471.990000,5433.47,1393.42,0.00,645.10,Oct-13,325.74,Mar-14,0.0
15,1069759,1000,1000,36 months,16.29%,D,D1,Internal revenue Service,< 1 year,RENT,...,23,1270.716942,1000.00,270.72,0.00,0.00,Jan-15,36.32,May-16,0.0
16,1065775,10000,10000,36 months,15.27%,C,C4,Chin's Restaurant,4 years,RENT,...,28,12527.150000,10000.00,2527.15,0.00,0.00,Jan-15,370.46,Apr-15,0.0
17,1069971,3600,3600,36 months,6.03%,A,A1,Duracell,10+ years,MORTGAGE,...,42,3785.271965,3600.00,185.27,0.00,0.00,May-13,583.45,May-14,0.0
18,1062474,6000,6000,36 months,11.71%,B,B3,Connection Inspection,1 year,MORTGAGE,...,14,7167.072893,6000.00,1152.07,15.00,0.00,Feb-15,16.98,Jul-15,0.0
19,1069742,9200,9200,36 months,6.03%,A,A1,Network Interpreting Service,6 years,RENT,...,28,9460.000848,9200.00,260.00,0.00,0.00,Jul-12,8061.10,Feb-16,0.0
20,1069740,20250,20250,60 months,15.27%,C,C4,Archdiocese of Galveston Houston,3 years,RENT,...,22,27679.050000,20250.00,7429.05,0.00,0.00,Aug-15,6024.09,Mar-16,0.0
21,1039153,21000,21000,36 months,12.42%,B,B4,Osram Sylvania,10+ years,RENT,...,38,14025.400000,10694.96,3330.44,0.00,0.00,Sep-13,701.73,May-16,0.0
22,1069710,10000,10000,36 months,11.71%,B,B3,Value Air,10+ years,OWN,...,21,11907.350000,10000.00,1907.35,0.00,0.00,Jan-15,349.21,May-16,0.0
23,1069700,10000,10000,36 months,11.71%,B,B3,Wells Fargo Bank,5 years,RENT,...,17,11540.891980,10000.00,1540.89,0.00,0.00,Oct-13,4942.63,Mar-14,0.0
24,1069559,6000,6000,36 months,11.71%,B,B3,bmg-educational,1 year,RENT,...,7,2050.140000,1305.58,475.25,0.00,269.31,Oct-12,198.46,Mar-13,0.0
25,1069697,15000,15000,36 months,9.91%,B,B1,Winfield Pathology Consultants,2 years,MORTGAGE,...,31,15823.999050,15000.00,824.00,0.00,0.00,Sep-12,2447.05,Sep-12,0.0
26,1069800,15000,15000,36 months,14.27%,C,C2,nyc transit,9 years,RENT,...,11,0.000000,0.00,0.00,0.00,0.00,NaN,0.00,May-16,0.0
27,1069657,5000,5000,60 months,16.77%,D,D2,Frito Lay,2 years,RENT,...,22,1609.120000,629.05,719.11,0.00,260.96,Dec-12,123.65,May-13,0.0
28,1069799,4000,4000,36 months,11.71%,B,B3,Shands Hospital at the University of Fl,10+ years,MORTGAGE,...,44,4486.293519,4000.00,486.29,0.00,0.00,Apr-13,2638.77,May-16,0.0
29,1047704,8500,8500,36 months,11.71%,B,B3,Oakridge homes,< 1 year,RENT,...,12,10126.088440,8500.00,1626.09,0.00,0.00,Dec-14,581.59,Jan-15,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39687,111307,12000,12000,36 months,12.49%,D,D3,ISO MERCHANT SERVICES,9 years,OWN,...,24,14449.287980,12000.00,2449.29,0.00,0.00,Jul-10,402.93,Jul-10,NaN
39688,111227,20000,20000,36 months,13.43%,E,E1,Auto motors of miami,6 years,MORTGAGE,...,26,20339.660000,16077.42,4262.24,0.00,0.00,Feb-10,678.08,May-16,NaN
39689,109355,1200,1200,36 months,11.54%,C,C5,Eastland Park Hotel,< 1 year,RENT,...,4,1425.370000,1200.00,225.37,0.00,0.00,Jul-10,39.45,Jul-10,NaN
39690,107136,12250,12250,36 months,10.59%,C,C2,Zensah Company,3 years,RENT,...,24,13128.883620,12250.00,878.88,0.00,0.00,Apr-08,9939.88,Jul-07,NaN
39691,106360,2700,2700,36 months,15.96%,F,F4,Turner Construction,1 year,RENT,...,13,3415.389823,2700.00,715.39,0.00,0.00,Jul-10,96.40,Jul-10,NaN
39692,76597,5000,5000,36 months,9.01%,B,B2,Ping Interactive,1 year,MORTGAGE,...,7,5725.016258,5000.00,725.02,0.00,0.00,Jul-10,160.61,Jul-10,NaN
39693,106079,3500,3500,36 months,9.96%,B,B5,UNIQUE ID WEB DESIGN,< 1 year,RENT,...,16,3942.013096,3500.00,442.01,0.00,0.00,Mar-09,1798.54,May-16,NaN
39694,90966,5000,5000,36 months,7.43%,A,A2,Oracle Corporation,8 years,MORTGAGE,...,19,5174.186842,5000.00,174.19,0.00,0.00,Jan-08,4397.47,Jun-07,NaN
39695,92440,5000,5000,36 months,7.43%,A,A2,MetraTech Corp,7 years,MORTGAGE,...,16,5593.631701,5000.00,593.63,0.00,0.00,Jul-10,157.38,Jun-07,NaN
39696,102376,25000,25000,36 months,10.59%,C,C2,Institute for Mind/Body Research and Education,2 years,RENT,...,12,29269.955270,25000.00,4269.96,0.00,0.00,Jun-10,3.54,Jun-10,NaN
39697,101579,10000,10000,36 months,10.28%,C,C1,RoadNarrows Robotics,< 1 year,RENT,...,4,11662.892190,10000.00,1662.89,0.00,0.00,Jul-10,328.93,Oct-10,NaN
39698,98982,5000,5000,36 months,9.01%,B,B2,Viget Labs,1 year,RENT,...,28,5725.016258,5000.00,725.02,0.00,0.00,Jul-10,160.02,Jul-10,NaN
39699,98339,5100,5100,36 months,8.38%,A,A5,Northwestern School Corporation,4 years,RENT,...,22,5779.031624,5100.00,679.03,0.00,0.00,Apr-10,638.15,Jun-07,NaN
39700,98276,5400,5400,36 months,7.75%,A,A3,NaN,< 1 year,RENT,...,4,6069.341452,5400.00,669.34,0.00,0.00,Jul-10,169.09,Dec-13,NaN
39701,96844,5300,5300,36 months,8.38%,A,A5,Peerless Pump Company,7 years,MORTGAGE,...,29,6012.561053,5300.00,712.56,0.00,0.00,Jul-10,170.05,Jul-10,NaN
39702,96350,5000,5000,36 months,11.22%,C,C4,Self-employed,1 year,OWN,...,12,5912.052998,5000.00,912.05,0.00,0.00,Jul-10,166.25,Oct-12,NaN
39703,94838,3000,3000,36 months,10.28%,C,C1,Oracle,2 years,MORTGAGE,...,8,3498.858899,3000.00,498.86,0.00,0.00,Jul-10,98.49,Feb-13,NaN
39704,93277,3000,3000,36 months,8.70%,B,B1,NaN,< 1 year,MORTGAGE,...,13,3419.144850,3000.00,419.14,0.00,0.00,Jul-10,97.45,Jul-10,NaN
39705,93061,5000,5000,36 months,7.43%,A,A2,MetraTech,8 years,MORTGAGE,...,16,5593.631701,5000.00,593.63,0.00,0.00,Jul-10,157.02,Jun-10,NaN
39706,92676,5000,5000,36 months,8.07%,A,A4,NaN,< 1 year,MORTGAGE,...,39,5645.957239,5000.00,645.96,0.00,0.00,Jul-10,157.31,Jun-07,NaN
39707,92666,5000,5000,36 months,9.33%,B,B3,Stark and Roth Inc,2 years,MORTGAGE,...,38,5751.530533,5000.00,751.53,0.00,0.00,Jul-10,161.55,Jun-07,NaN
39708,92552,5000,5000,36 months,9.96%,B,B5,Millenium Group,4 years,MORTGAGE,...,6,5804.732505,5000.00,804.73,0.00,0.00,Jul-10,162.07,Jun-10,NaN
39709,92533,5000,5000,36 months,11.22%,C,C4,Self-Employeed,< 1 year,OWN,...,29,5912.052998,5000.00,912.05,0.00,0.00,Jul-10,165.17,Jun-07,NaN
39710,92507,5000,5000,36 months,7.43%,A,A2,Rush Univ Med Grp,1 year,OWN,...,19,5593.626092,5000.00,593.63,0.00,0.00,Jul-10,156.29,Jun-07,NaN
39711,92402,5000,5000,36 months,8.70%,B,B1,"A. F. Wolfers, Inc.",5 years,MORTGAGE,...,29,5698.603286,5000.00,698.60,0.00,0.00,Jul-10,159.83,Nov-14,NaN
39712,92187,2500,2500,36 months,8.07%,A,A4,FiSite Research,4 years,MORTGAGE,...,40,2822.969293,2500.00,322.97,0.00,0.00,Jul-10,80.90,Jun-10,NaN
39713,90665,8500,8500,36 months,10.28%,C,C1,"Squarewave Solutions, Ltd.",3 years,RENT,...,9,9913.491822,8500.00,1413.49,0.00,0.00,Jul-10,281.94,Jul-10,NaN
39714,90395,5000,5000,36 months,8.07%,A,A4,NaN,< 1 year,MORTGAGE,...,20,5272.161128,5000.00,272.16,0.00,0.00,Apr-08,0.00,Jun-07,NaN
39715,90376,5000,5000,36 months,7.43%,A,A2,NaN,< 1 year,MORTGAGE,...,26,5174.198551,5000.00,174.20,0.00,0.00,Jan-08,0.00,Jun-07,NaN
39716,87023,7500,7500,36 months,13.75%,E,E2,Evergreen Center,< 1 year,OWN,...,8,9195.263334,7500.00,1695.26,0.00,0.00,Jun-10,256.59,Jun-10,NaN

In [431]:
#Let's see the correlation between 'loan_amnt' and 'funded_amnt'
eda_df['loan_amnt'].corr(eda_df['funded_amnt'])

0.9815782188237628

In [432]:
#We can drop 'funded_amnt'
eda_df.drop(['funded_amnt'], axis = 1, inplace = True)

In [433]:
eda_df.shape

(39717, 35)

In [434]:
eda_df['title'].value_counts()

Debt Consolidation                         2184
Debt Consolidation Loan                    1729
Personal Loan                               659
Consolidation                               517
debt consolidation                          505
Home Improvement                            356
Credit Card Consolidation                   356
Debt consolidation                          334
Small Business Loan                         328
Credit Card Loan                            317
Personal                                    308
Consolidation Loan                          255
Home Improvement Loan                       247
personal loan                               234
personal                                    220
Loan                                        213
Wedding Loan                                208
consolidation                               205
Car Loan                                    204
Other Loan                                  191
Wedding                                     154
Credit Card Payoff                          154
Major Purchase Loan                         145
Credit Card Refinance                       144
Consolidate                                 126
Medical                                     122
Credit Card                                 118
home improvement                            111
My Loan                                      93
Credit Cards                                 93
                                           ...
help me to buy a safe car                     1
CPA Needs Refinancing                         1
Save my Son                                   1
live free                                     1
The Big Payoff                                1
Pay me off                                    1
Card loan                                     1
Tax and consolidation                         1
first home                                    1
SPECIAL                                       1
Back Pay                                      1
solar panels                                  1
Triumph Bonneville                            1
Personal loan for medical expenses            1
Debt consolidator --> eliminator              1
Need Help Consolidating Debt                  1
Adding Inventory                              1
Help Pay Off My Last Card and Med Bills       1
ALLTHATNFANCYTOO                              1
Holistic Wellness Center                      1
Spread costs over time                        1
Consolidate all CC debts                      1
"Subie Loan"                                  1
Business Loan for Expansion                   1
Wedding Consolidation Loan                    1
Credit cards bills                            1
music production loan                         1
8 thousand                                    1
Credit Card Loan Pay-Offs                     1
Getting ready for 2010                        1
Name: title, Length: 19615, dtype: int64

In [435]:
# emp_title does not seem to have any categories, let's drop that as well
eda_df.drop(['emp_title'], axis = 1, inplace = True)

In [436]:
# title is just application title, and we have a more refined categorical data 'purpose' similar to this, let's drop that as well
eda_df.drop(['title'], axis = 1, inplace = True)

In [437]:
eda_df.head()

,id,loan_amnt,term,int_rate,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,...,total_acc,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,5000,36 months,10.65%,B,B2,10+ years,RENT,24000.0,Verified,...,9,5863.155187,5000.00,863.16,0.00,0.00,Jan-15,171.62,May-16,0.0
1,1077430,2500,60 months,15.27%,C,C4,< 1 year,RENT,30000.0,Source Verified,...,4,1008.710000,456.46,435.17,0.00,117.08,Apr-13,119.66,Sep-13,0.0
2,1077175,2400,36 months,15.96%,C,C5,10+ years,RENT,12252.0,Not Verified,...,10,3005.666844,2400.00,605.67,0.00,0.00,Jun-14,649.91,May-16,0.0
3,1076863,10000,36 months,13.49%,C,C1,10+ years,RENT,49200.0,Source Verified,...,37,12231.890000,10000.00,2214.92,16.97,0.00,Jan-15,357.48,Apr-16,0.0
4,1075358,3000,60 months,12.69%,B,B5,1 year,RENT,80000.0,Source Verified,...,38,3513.330000,2475.94,1037.39,0.00,0.00,May-16,67.79,May-16,0.0

In [438]:
# Let us now analyze if 'recoveries' are only associated to a particular loan-status category
eda_df.loc[(eda_df['loan_status'] == 'Fully Paid') & (eda_df['recoveries'] != 0)]

Empty DataFrame
Columns: [id, loan_amnt, term, int_rate, grade, sub_grade, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, desc, purpose, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, total_pymnt, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies]
Index: []

[0 rows x 33 columns]

In [439]:
eda_df.loc[(eda_df['loan_status'] == 'Current') & (eda_df['recoveries'] != 0)]

Empty DataFrame
Columns: [id, loan_amnt, term, int_rate, grade, sub_grade, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, desc, purpose, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, total_pymnt, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies]
Index: []

[0 rows x 33 columns]

In [440]:
eda_df.loc[(eda_df['loan_status'] == 'Charged Off') & (eda_df['recoveries'] != 0)]

,id,loan_amnt,term,int_rate,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,...,total_acc,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
1,1077430,2500,60 months,15.27%,C,C4,< 1 year,RENT,30000.0,Source Verified,...,4,1008.710000,456.46,435.17,0.000000,117.080000,Apr-13,119.66,Sep-13,0.0
8,1071795,5600,60 months,21.28%,F,F2,4 years,OWN,40000.0,Source Verified,...,13,646.020000,162.02,294.94,0.000000,189.060000,Apr-12,152.39,Aug-12,0.0
9,1071570,5375,60 months,12.69%,B,B5,< 1 year,RENT,15000.0,Verified,...,3,1476.190000,673.48,533.42,0.000000,269.290000,Nov-12,121.45,Mar-13,0.0
12,1064687,9000,36 months,13.49%,C,C1,< 1 year,RENT,30000.0,Source Verified,...,9,2270.700000,1256.14,570.26,0.000000,444.300000,Jul-12,305.38,Nov-12,0.0
14,1069057,10000,36 months,10.65%,B,B2,3 years,RENT,100000.0,Source Verified,...,29,7471.990000,5433.47,1393.42,0.000000,645.100000,Oct-13,325.74,Mar-14,0.0
24,1069559,6000,36 months,11.71%,B,B3,1 year,RENT,76000.0,Not Verified,...,7,2050.140000,1305.58,475.25,0.000000,269.310000,Oct-12,198.46,Mar-13,0.0
27,1069657,5000,60 months,16.77%,D,D2,2 years,RENT,50004.0,Not Verified,...,22,1609.120000,629.05,719.11,0.000000,260.960000,Dec-12,123.65,May-13,0.0
46,1069465,5000,36 months,8.90%,A,A5,10+ years,MORTGAGE,100000.0,Source Verified,...,35,5021.370000,4217.38,696.99,0.000000,107.000000,Aug-14,158.77,Dec-14,0.0
50,1069248,15000,36 months,9.91%,B,B1,8 years,MORTGAGE,80000.0,Not Verified,...,28,16177.770000,13556.45,2374.34,24.170000,222.810000,Oct-14,483.38,Mar-15,0.0
53,1069243,12000,36 months,15.96%,C,C5,4 years,RENT,50000.0,Not Verified,...,11,3521.950000,1903.66,1039.35,0.000000,578.940000,Aug-12,421.65,Dec-12,0.0
64,1069126,10000,60 months,10.65%,B,B2,10+ years,RENT,45996.0,Verified,...,15,8772.910000,5495.38,2429.23,1.000000,847.300000,Apr-15,1.00,Jun-15,0.0
66,1069093,12500,60 months,17.27%,D,D3,5 years,RENT,30000.0,Source Verified,...,28,5577.750000,2812.82,2742.43,0.000000,22.500000,Feb-14,223.11,May-16,1.0
68,1068906,8200,60 months,21.28%,F,F2,4 years,RENT,75000.0,Source Verified,...,11,4173.570000,1525.83,2265.85,0.000000,381.890000,Jun-13,223.14,Oct-13,0.0
71,1060981,6400,36 months,16.77%,D,D2,5 years,RENT,75000.0,Not Verified,...,27,4776.450000,3334.25,1431.91,0.000000,10.290000,Oct-13,227.45,May-16,0.0
97,1068542,17500,60 months,17.27%,D,D3,7 years,MORTGAGE,45000.0,Not Verified,...,26,10037.100000,3077.85,3473.25,0.000000,3486.000000,Apr-13,437.47,Dec-15,0.0
100,1068509,6200,36 months,9.91%,B,B1,2 years,RENT,25000.0,Not Verified,...,12,2452.220000,1700.79,493.16,0.000000,258.270000,Dec-12,199.80,May-13,0.0
105,1068309,18825,60 months,16.77%,D,D2,10+ years,RENT,38000.0,Verified,...,7,18749.250000,8087.75,6786.71,0.000000,3874.790000,Sep-14,465.53,May-16,0.0
114,1068012,10000,36 months,18.25%,D,D5,1 year,RENT,75000.0,Source Verified,...,26,11730.600000,8320.22,3145.08,36.246998,229.060000,Jan-15,200.00,Jan-15,0.0
120,1068202,25000,60 months,13.49%,C,C1,10+ years,MORTGAGE,67000.0,Verified,...,21,23880.650000,13833.20,8008.11,28.760000,2010.580000,Mar-15,1179.00,Jul-15,0.0
121,1068006,19750,36 months,10.65%,B,B2,4 years,RENT,45000.0,Verified,...,28,11930.650000,8590.58,2698.78,0.000000,641.290000,Sep-13,787.01,Nov-13,0.0
124,1068179,28000,60 months,19.91%,E,E4,10+ years,RENT,52000.0,Verified,...,16,12173.070000,4281.54,4759.37,0.000000,3132.160000,Jun-14,312.04,Sep-14,0.0
137,1068111,11100,36 months,6.62%,A,A2,10+ years,RENT,41000.0,Verified,...,18,8120.140000,6516.79,976.85,0.000000,626.500000,Nov-13,340.82,Mar-14,0.0
145,1068091,12000,36 months,9.91%,B,B1,2 years,RENT,42000.0,Not Verified,...,16,11234.490000,9011.72,1807.88,0.000000,414.890000,May-14,386.70,Oct-15,0.0
151,1067794,10000,36 months,11.71%,B,B3,8 years,RENT,60000.0,Not Verified,...,26,6002.230000,4293.91,1388.86,0.000000,319.460000,Jul-13,62.38,Nov-13,0.0
168,1067644,2500,36 months,7.51%,A,A3,NaN,OWN,12000.0,Source Verified,...,20,1838.880000,1575.06,253.74,0.000000,10.080000,Dec-13,77.78,May-16,0.0
175,1067364,10000,36 months,13.49%,C,C1,5 years,RENT,65000.0,Not Verified,...,17,9270.840000,6799.56,2011.75,0.000000,459.530000,Mar-14,339.31,Jul-14,0.0
176,1067152,7750,36 months,17.27%,D,D3,< 1 year,RENT,24000.0,Not Verified,...,7,6934.000000,4935.39,1986.70,0.000000,11.910000,Jan-14,277.36,May-16,0.0
177,1062471,20000,60 months,20.89%,F,F1,6 years,RENT,70000.0,Source Verified,...,24,5425.960000,1318.27,3034.08,0.000000,1073.610000,Oct-12,591.09,Feb-13,0.0
182,1067324,15000,36 months,16.77%,D,D2,10+ years,RENT,42000.0,Verified,...,38,13373.770000,8365.66,3923.40,0.000000,1084.710000,Apr-14,188.69,Apr-14,0.0
183,1067102,15000,36 months,17.27%,D,D3,8 years,RENT,75000.0,Source Verified,...,17,10198.400000,6944.85,3238.39,0.000000,15.160000,Aug-13,536.81,May-16,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39477,185684,22350,36 months,14.07%,E,E3,1 year,OWN,135000.0,Not Verified,...,15,14318.870000,10005.99,3756.00,0.000000,556.880000,Jul-09,764.64,Jul-15,NaN
39480,184562,10000,36 months,9.33%,B,B3,1 year,MORTGAGE,36500.0,Not Verified,...,22,2609.480000,1732.25,504.18,0.000000,373.050000,Jul-08,319.54,Jan-09,NaN
39492,180675,25000,36 months,10.91%,C,C3,10+ years,MORTGAGE,73000.0,Not Verified,...,63,13650.380000,8767.32,2675.41,0.000000,2207.650000,Mar-09,817.41,May-16,NaN
39500,178157,14400,36 months,12.80%,D,D4,1 year,RENT,36120.0,Not Verified,...,25,5511.150000,2812.13,2024.47,0.000000,674.550000,Oct-09,50.03,Feb-10,NaN
39504,176995,25000,36 months,14.38%,E,E4,1 year,MORTGAGE,80000.0,Not Verified,...,18,12770.590000,8471.54,3553.14,0.000000,745.910000,Feb-09,859.07,Dec-09,NaN
39515,173029,9600,36 months,12.17%,D,D2,4 years,RENT,60000.0,Not Verified,...,24,8311.840000,6335.33,1829.62,0.000000,146.890000,Apr-10,416.62,Sep-10,NaN
39519,171220,20000,36 months,11.54%,C,C5,< 1 year,MORTGAGE,96000.0,Not Verified,...,8,18930.340000,4882.92,2283.17,32.995066,11731.250000,Mar-09,200.01,May-16,NaN
39523,169793,16000,36 months,11.86%,D,D1,< 1 year,OWN,86400.0,Not Verified,...,25,7894.730000,5558.08,1865.00,0.000000,471.650000,Feb-09,530.36,Nov-09,NaN
39530,168190,3975,36 months,12.17%,D,D2,10+ years,RENT,27000.0,Not Verified,...,11,2529.270000,1901.00,596.19,14.985266,17.090000,Aug-09,132.35,May-16,NaN
39537,166747,5000,36 months,11.86%,D,D1,6 years,OWN,40000.0,Not Verified,...,13,2831.890000,1997.01,653.65,44.993008,136.240000,Apr-09,707.96,Dec-09,NaN
39540,166534,16000,36 months,11.54%,C,C5,4 years,RENT,44400.0,Not Verified,...,19,8877.150000,6435.58,2009.86,0.000000,431.710000,Apr-09,527.93,Dec-09,NaN
39548,159713,900,36 months,10.28%,C,C1,3 years,RENT,12000.0,Not Verified,...,4,986.550000,804.23,143.67,0.000000,38.650000,May-11,29.16,May-16,NaN
39578,148473,10000,36 months,9.01%,B,B2,< 1 year,MORTGAGE,275000.0,Not Verified,...,17,4484.820000,3239.25,893.70,47.689526,304.180000,Jul-09,500.11,Jan-11,NaN
39579,146844,15450,36 months,10.91%,C,C3,7 years,RENT,120000.0,Not Verified,...,39,12699.130000,6316.30,4640.67,20.217640,1721.940000,Dec-11,100.20,Dec-11,NaN
39582,146564,8275,36 months,10.59%,C,C2,4 years,MORTGAGE,109000.0,Not Verified,...,19,8094.300000,6700.52,1372.48,14.995936,6.310000,May-10,553.62,May-16,NaN
39584,144635,25000,36 months,12.80%,D,D4,2 years,MORTGAGE,75000.0,Not Verified,...,33,9239.370000,6646.07,2583.15,0.000000,10.150000,Oct-08,839.95,May-16,NaN
39593,141774,20000,36 months,13.12%,D,D5,8 years,MORTGAGE,85000.0,Not Verified,...,41,1605.300000,1028.79,427.59,0.000000,148.920000,Aug-08,162.01,May-16,NaN
39598,140561,2225,36 months,10.59%,C,C2,2 years,RENT,60000.0,Not Verified,...,9,520.030000,323.55,110.68,0.000000,85.800000,May-08,72.42,Jan-09,NaN
39601,139980,12000,36 months,10.91%,C,C3,1 year,MORTGAGE,39000.0,Not Verified,...,14,4820.710000,3891.56,844.02,29.970725,55.160000,Mar-10,163.49,Aug-10,NaN
39603,139790,3000,36 months,12.49%,D,D3,< 1 year,RENT,29120.0,Not Verified,...,5,3597.734061,1956.75,545.00,0.000000,1095.984061,Dec-09,100.35,May-16,NaN
39609,137271,2100,36 months,12.49%,D,D3,< 1 year,RENT,12500.0,Not Verified,...,3,2313.970000,400.45,160.03,0.000000,1753.490000,Jun-08,70.25,May-16,NaN
39613,136491,5000,36 months,12.17%,D,D2,< 1 year,RENT,10000.0,Not Verified,...,8,2477.030000,1756.71,574.25,0.000000,146.070000,Jul-09,333.29,Mar-15,NaN
39621,133301,4650,36 months,10.28%,C,C1,10+ years,MORTGAGE,45600.0,Not Verified,...,25,4073.980000,2938.05,676.44,0.000000,459.490000,Oct-09,150.66,May-16,NaN
39623,132892,9000,36 months,12.49%,D,D3,8 years,MORTGAGE,39000.0,Not Verified,...,37,4015.960000,1496.83,609.26,0.000000,1909.870000,May-08,301.05,May-16,1.0
39626,131782,7725,36 months,13.75%,E,E2,< 1 year,RENT,62200.0,Not Verified,...,13,6138.000000,4386.34,1601.56,0.000000,150.100000,Dec-09,50.09,May-10,NaN
39638,127830,8000,36 months,12.17%,D,D2,9 years,MORTGAGE,70000.0,Not Verified,...,20,7294.650000,5717.45,1474.29,0.000000,102.910000,Dec-09,266.37,May-10,NaN
39640,127472,2125,36 months,15.01%,F,F1,< 1 year,MORTGAGE,96000.0,Not Verified,...,9,2580.248838,943.58,382.27,0.000000,1254.398838,Mar-09,73.68,May-16,NaN
39666,119043,15450,36 months,11.22%,C,C4,2 years,MORTGAGE,40000.0,Not Verified,...,29,11652.750000,8688.59,2659.96,0.000000,304.200000,Oct-09,1016.15,Mar-10,1.0
39667,118823,2500,36 months,12.80%,D,D4,< 1 year,MORTGAGE,32000.0,Not Verified,...,32,2220.610000,1706.01,477.21,1.690000,35.700000,Mar-10,1.76,May-16,NaN
39678,113179,1000,36 months,10.59%,C,C2,2 years,MORTGAGE,33990.0,Not Verified,...,11,703.950000,544.02,138.64,0.000000,21.290000,May-09,32.55,Oct-09,NaN

In [441]:
eda_df.columns

Index(['id', 'loan_amnt', 'term', 'int_rate', 'grade', 'sub_grade',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'desc', 'purpose', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'total_pymnt',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'pub_rec_bankruptcies'],
      dtype='object')

In [442]:
# So only 'charged_off' loans have 'recoveries' associated, let's drop 'recoveries' then
eda_df.drop(['recoveries'], axis = 1, inplace = True)

In [443]:
eda_df.shape

(39717, 32)

In [444]:
# Let us now filter the data dictionary and have only relevant attributes there
# First let's create a list of all columns that we removed

In [445]:
diff_cols = set(init_col_list) - set(eda_df.columns)

In [446]:
len(diff_cols)

79

In [447]:
dict_df['LoanStatNew'] = dict_df['LoanStatNew'].astype(str)

In [448]:
dict_df['LoanStatNew'] = dict_df['LoanStatNew'].apply(lambda x: x.strip())

In [449]:
for i in diff_cols:
    dict_df = dict_df.loc[~(dict_df['LoanStatNew'] == i)]
dict_df['LoanStatNew'].sort_values()

2                 addr_state
4                 annual_inc
13               delinq_2yrs
15                      desc
16                       dti
18          earliest_cr_line
19                emp_length
21           fico_range_high
22            fico_range_low
25                     grade
26            home_ownership
27                        id
32            inq_last_6mths
34                  int_rate
35                   issue_d
36        last_credit_pull_d
37      last_fico_range_high
38       last_fico_range_low
39           last_pymnt_amnt
40              last_pymnt_d
41                 loan_amnt
42               loan_status
115                      nan
116                      nan
73                  open_acc
85                   pub_rec
86      pub_rec_bankruptcies
87                   purpose
90                 revol_bal
91                revol_util
92                 sub_grade
94                      term
99                 total_acc
105              total_pymnt
107            total_rec_int
108       total_rec_late_fee
109          total_rec_prncp
112      verification_status
113    verified_status_joint
Name: LoanStatNew, dtype: object

In [450]:
dict_df

               LoanStatNew                                        Description
2               addr_state  The state provided by the borrower in the loan...
4               annual_inc  The self-reported annual income provided by th...
13             delinq_2yrs  The number of 30+ days past-due incidences of ...
15                    desc          Loan description provided by the borrower
16                     dti  A ratio calculated using the borrower’s total ...
18        earliest_cr_line  The month the borrower's earliest reported cre...
19              emp_length  Employment length in years. Possible values ar...
21         fico_range_high  The upper boundary range the borrower’s FICO a...
22          fico_range_low  The lower boundary range the borrower’s FICO a...
25                   grade                             LC assigned loan grade
26          home_ownership  The home ownership status provided by the borr...
27                      id      A unique LC assigned ID for the loan listing.
32          inq_last_6mths  The number of inquiries in past 6 months (excl...
34                int_rate                          Interest Rate on the loan
35                 issue_d                The month which the loan was funded
36      last_credit_pull_d  The most recent month LC pulled credit for thi...
37    last_fico_range_high  The upper boundary range the borrower’s last F...
38     last_fico_range_low  The lower boundary range the borrower’s last F...
39         last_pymnt_amnt                 Last total payment amount received
40            last_pymnt_d                    Last month payment was received
41               loan_amnt  The listed amount of the loan applied for by t...
42             loan_status                         Current status of the loan
73                open_acc  The number of open credit lines in the borrowe...
85                 pub_rec                Number of derogatory public records
86    pub_rec_bankruptcies               Number of public record bankruptcies
87                 purpose  A category provided by the borrower for the lo...
90               revol_bal                     Total credit revolving balance
91              revol_util  Revolving line utilization rate, or the amount...
92               sub_grade                          LC assigned loan subgrade
94                    term  The number of payments on the loan. Values are...
99               total_acc  The total number of credit lines currently in ...
105            total_pymnt  Payments received to date for total amount funded
107          total_rec_int                          Interest received to date
108     total_rec_late_fee                         Late fees received to date
109        total_rec_prncp                         Principal received to date
112    verification_status  Indicates if income was verified by LC, not ve...
113  verified_status_joint  Indicates if the co-borrowers' joint income wa...
115                    nan                                                NaN
116                    nan  * Employer Title replaces Employer Name for al...

In [451]:
eda_df.columns

Index(['id', 'loan_amnt', 'term', 'int_rate', 'grade', 'sub_grade',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'desc', 'purpose', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'total_pymnt',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'pub_rec_bankruptcies'],
      dtype='object')

In [452]:
# There are some extra attributes in dict_df
dict_df = dict_df.loc[~(dict_df['LoanStatNew'].isnull())]
dict_df = dict_df.loc[~(dict_df['LoanStatNew'] == "nan")]
dict_df = dict_df.loc[~((dict_df['LoanStatNew'] == "fico_range_high") | (dict_df['LoanStatNew'] == "fico_range_low") | (dict_df['LoanStatNew'] == "last_fico_range_high") | (dict_df['LoanStatNew'] == "last_fico_range_low") | (dict_df['LoanStatNew'] == "verified_status_joint") | (dict_df['LoanStatNew'] == "total_rev_hi_lim")  )]

In [453]:
eda_df.shape

(39717, 32)

In [454]:
dict_df.shape

(32, 2)

In [455]:
writer = pd.ExcelWriter('output.xlsx')
dict_df.to_excel(writer,'Sheet1')
writer.save()